/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (min-width: 1280px) {
.lead-history .form-control {
    margin-left: 15px;
}	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
.lead-history .form-control {
    width: 69% !important;
    margin-left: 8px;
	font-size: 12px;
}
.lead-notes .upload-doc {
    font-size: 9px;
    padding: 8px 7px;
}
.lead-history label {
    font-size: 14px;
}
.two-wheeler {
    width: 130px;
    height: 130px;
}
.life {
    width: 130px;
    height: 130px;
}
.car {
    width: 130px;
    height: 130px;
}
.travel {
    width: 130px;
    height: 130px;
}
.quotation a img {
    width: 60px;
}
.quotation p {
    font-size: 12px;
    padding: 0px;
}
.detail-form .btn {
    width: 95px;
    margin: 30px 0px;
}
.top-icon li {
    height: 75px;
    padding-top: 30px;
}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and  (max-width: 991px){
label {
    font-size: 15px;
}
.dashboard .row {
    text-align: center;
}
.dashboard-footer{
	text-align:center;
}
.dashboard-footer button {
    padding: 10px 34px;
    font-size: 14px;
    padding-right: 40px;
}
.dashboard-footer button img {
    left: -25px;
}
.top-icon li {
    height: 62px;
    padding-top: 17px;
}
.lead-history .form-control {
    width: 100% !important;
    margin-left: 0px;
    margin: 10px 0px;
}
.lead-details .first-half {
    border-bottom: 1px solid #dedede;
	border-right: 0px solid #dedede;
	padding-bottom: 15px;
}
}
@media (max-width: 767px) {
.lead-history .form-control {
    width: 100% !important;
    margin-left: 0px;
    margin: 10px 0px;
}
.lead-details .details-row {
    margin-left: 90px;
}
.lead-details .first-half {
    border-bottom: 1px solid #dedede;
	border-right: 0px solid #dedede;
	padding-bottom: 15px;
}
.lead-details .second-half {    
	padding-top: 15px;
}
.leads .tab-content {
    text-align: center;
}
.leads .nav-tabs {
    width: 100%;
}
.header ul {
    text-align: center;
	border-top: 1px solid #eaeaea;
}
.header .col-md-3 img {
    border:none;
}
.top-icon li:first-child {
    border-left: 0px solid #e4e4e4;
}
.loyalty-board {
    padding-left: 20px;
    text-align: center;
}
.loyalty-board .loyal {
    text-align: center;
    width: 100%;
}
.loyalty-board p {
    font-size: 18px;
}
.progress-strip .progress p {
    padding-right: 15px;
    font-size: 12px;
}
.dashboard .row {
    text-align: center;
}
.dashboard-footer {
    text-align: center;
}
.loyalty-box button {
    margin: 15px 0px;
}
.loyalty-box input {
    width: 50%;
    margin: 0 auto;
}
.loyalty-program .nav-item a {
    padding: 12px 58px;
}
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.lead-details .details-row {
    margin-left: 60px;
}
.header .log-out {
    margin-left: 20px;
}
.set-icons {
    top: -8px;
}
.leads .nav-item a {
    padding: 10px 20px;
}
.inner-content {
    margin: 20px;
}
.cus-select {
    background: url(../../assets/images/arrow.png) 100% / 15px no-repeat !important;
    padding: 0;
}
.otp-verify input {
    padding: 5px;
}
.dashboard h3{
	font-size: 18px;
}
.fc-left h2{
	font-size: 24px;
	padding-bottom: 15px;
}
.loyalty-program .nav-item a {
    padding: 10px 12px;
}
#menu1 .row:nth-child(2) {
    padding: 0;
    margin: 0;
}
}
@media (max-width:380px) {
.profile-photo {
    text-align: center;
}
.lead-details .details-row {
    margin-left: 10px;
}
}