@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
html, body{
	height:100%;
}
body{
	font-family: 'Roboto', sans-serif;
}
a, a:hover, a:focus{
	text-decoration:none;
	outline:none;
}
p{
	font-size:16px;
}
/**login**/
section.login-box {
    margin-top: 30px;
}
.login-btn{
	text-align:center;
}
.login-form {
    margin-top: 70px;
}
.login-form .form-control{
	border: 2.5px solid #2a55a1;
    border-radius: 50px;
    margin-top: 30px;
    height: 50px;
	padding-left: 55px;
}
.login-form .form-group {
    position: relative;
}
.login-form img {
    position: absolute;
    top: 12px;
    left: 17px;
}
.login-btn a{
	color: #275aa0;
}
.login-btn .btn{
	margin: 25px 0px;
    background: #275aa0;
    color: #fff;
    font-size: 16px;
    padding: 10px 35px;
    border-radius: 25px;
}
.social-icons img {
    position: static;
    width: 45px;
	margin:20px 6px;
}
.follow{
	text-align:center;
}
.follow a{
	color: #275aa0;
}/**end-login**/