@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
html, body{
    height:100%;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
a, a:hover, a:focus{
    text-decoration:none;
    outline:none;
}
p{
    font-size:16px;
    margin-bottom: 6px;
}
h2{
    font-size:30px;
}
h3{
    font-size:22px;
}
h5{
    font-weight: 400;
}
label{
    color:#7e7e7e;
    font-size:16px;
    font-weight: 500;
    margin-top: 5px;
}
.form-control:focus{
    outline:none !important;
    box-shadow:none !important;
}
.forgot-box input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}
.forgot-box input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}
.forgot-box input:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}
.forgot-box input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}
/**template-css**/
.navbar {
    padding: 15px 10px;
    background: linear-gradient(to bottom, #106771, #146181);
    border-left:1px solid #e4e4e4;
    border-radius: 0;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.navbar-btn:hover{
    background:none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    color: #fff;
    transition: all 0.3s;
    background: linear-gradient(to right, #0f7777, #18538b);
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #293744;
    border-top: 5px solid #0eb3e9;
    height: 120px;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size:14px;
    display: block;
    color:#fff;
    border-bottom: 2px solid #0e7a75;
    position: relative;
    text-transform: uppercase;
}
.profile-li a {
    border: none !important;
}
/* #sidebar ul li a:hover {
    color: #13b2e7;
} */

#sidebar ul li.active > a{
    color: #edd63c;
}
a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size:16px !important;
    padding-left: 30px !important;
    background: #202d38;
    color:#fff;
}
ul ul a .fa{
    padding-right: 20px;
    font-size: 22px;
}
ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    min-height: 100vh;
    transition: all 0.3s;
    background: linear-gradient(to bottom, #fff,#dfdfdf);
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -265px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #sidebar {
        min-width: 265px;
    }
}/**template-css**/
/**login**/
section.login-box {
    margin-top: 30px;
    text-align: center;
}
.login-btn{
    text-align:center;
}
.login-form {
    margin-top: 70px;
}
.login-form .form-control{
    border: 2.5px solid #2a55a1;
    border-radius: 50px;
    margin-top: 30px;
    height: 50px;
    padding-left: 55px;
}
.login-form .form-group {
    position: relative;
}
.login-form img {
    position: absolute;
    top: 12px;
    left: 17px;
}
.login-btn a{
    color: #275aa0;
}
.login-btn .btn{
    margin: 25px 0px;
    background: #275aa0;
    color: #fff;
    font-size: 16px;
    padding: 10px 35px;
    border-radius: 25px;
}
.social-icons img {
    position: static;
    width: 45px;
    margin:20px 6px;
}
.follow{
    text-align:center;
}
.follow a{
    color: #275aa0;
}/**end-login**/
/**header and left menu**/
.header li img {
    width: 25px;
    margin: 0px 8px;
}
.header .col-md-3 img{
    width: 288px;
    padding: 20px 30px;
    border-right: 1px solid #e4e4e4;
}
.header ul {
    text-align: right;
    margin-bottom: 0px;
}
.header li .badge{
    position: relative;
    top: -4px;
    left: -18px;
    font-size: 10px;
    border-radius: 10px;
}
.top-icon li {
    height: 89px;
    padding-top: 30px;
}
.header .log-out{
    color:#9b9b9b;
    margin-left:30px;
}
.top-icon li:last-child {
    border-left:1px solid #e4e4e4;
}
.top-icon li:first-child {
    border-left:1px solid #e4e4e4;
}
.search{
    margin-left:20px;
}
.navbar-header {
    margin-bottom: 0px;
}
.navbar-header button {
    background: none;
}
.navbar-header .fa{
    font-size: 20px;
}
.navbar-header p{
    color:#fff;
}
.profile-li {
    padding: 20px;
    border-bottom: 2px solid #0e7a75;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
}
.profile-li img {
    padding-right: 20px;
    width: 90px !important;
}
.components img {
    width: 60px;
}
.components img.yellow {
    position: absolute;
    left: 10px;
    top: 10px;
    display:none;
}
.components li.active a img.yellow {
    display: block;
}
/**end header and left menu**/
/**leads**/
.leads .nav-item a{
    font-size: 14px;
    padding: 10px 60px;
    color:#3e444a;
    background: #fff;
}
.leads .nav-tabs{
    border:none;
    position: relative;
    top: 10px;
    left: 15px;
}
.leads .tab-content{
    border:2px solid #e7e7e7;
    border-radius: 6px;
    background: #fff;
}
.leads .nav-item:first-child a{
    border: 1px solid #dfdfdf;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-right:0px;
}
.leads .nav-item:last-child a{
    border: 1px solid #dfdfdf;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-left:0px;
}
.inner-content{
    margin: 40px;
    margin-top: 70px;
}
.leads .nav-tabs .nav-link.active{
    background:#18538b;
    color:#fff;
}
.set-icons{
    float: right;
    position: relative;
    top: -20px;
}
.set-icons img {
    width: 45px;
    margin: 0px 10px;
}
.leads .tab-content h5 {
    font-size: 20px;
    letter-spacing: 1px;
    color: #000;
}
.leads .tab-content .entry-time {
    color: #393939;
    font-size: 14px;
}
.leads .entry-time span {
    padding-left: 10px;
}
.leads .tab-content p{
    color:#8b8b8b;
}
.leads .tab-content a{
    color:#275aa0;
}
.leads .tab-content .row {
    border-bottom:2px solid #e8e8e8;
    padding: 20px 0px;
}
.leads .third-column a{
    color:#0e7976;
    text-decoration:underline;
}
.leads .third-column li{
    padding: 10px;
}/**end leads**/
/** forgot password**/
.forgot-box {
    background: linear-gradient(to bottom, #30a590, #18538b);
    color: #fff;
    margin-top: 50px;
    padding: 45px;
    text-align: center;
    padding-bottom: 25px;
    border: 2px solid #42ba7f;
    border-radius: 10px;
    box-shadow: 0px 12px 0px -5px #1e688d;
}
.forgot-box .form-control{
    background: none;
    border: none;
    color: #fff;
}
.forgot-box .row{
    border-bottom: 2px solid #38709b;
    margin-top: 65px;
}
.forgot-box .col-3, .forgot-box .col-9{
    padding:0px
}
.forgot-box p {
    font-weight: 100;
    letter-spacing: 1px;
}
.cus-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../assets/images/arrow.png) 78% / 15px no-repeat !important;
}
.forgot-box button{
    background: #275aa0;
    color: #fff;
    padding: 13px 50px;
    border-radius: 30px;
    border: 2px solid #42ba7f;
    position: relative;
    top: 60px;
}/**end forgot password**/
/**OTP verify**/
.otp-verify{
    text-align:center;
    margin-top: 80px;
}
.otp-verify h2{
    color:#275aa0;
    font-weight: 400;
}
.otp-verify p{
    color:#595a5d;
}
.otp-verify .btn{
    background: #275aa0;
    color: #fff;
    padding: 10px 35px;
    border-radius: 30px;
}
.otp-verify input{
    margin:0 auto;
    border: 2px solid #01a655;
    border-radius: 7px;
    color:#275aa0;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.otp-verify .row {
    margin: 30px 0px;
}/**end OTP verify**/
/**dashboard**/
.loyalty-board {
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding-left: 60px;
}
.loyalty-board img{
    width:50px;
}
.loyalty-board h3 {
    color: #275aa0;
}
.loyalty-board h3 span{
    color:#01a655;
}
.loyalty-board h3 span img {
    width: 30px;
    padding-left: 10px;
}
.loyalty-board p {
    color: #275aa0;
    font-size: 22px;
}
.loyalty-board .loyal {
    color: #c79605 !important;
}
.dashboard {
    margin-top: 30px;
    margin: 40px;
	margin-bottom: 20px;
}
.dashboard h3 {
    font-weight: 400;
    color: #010101;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 15px;
}
.dashboard .add-round{
    float:right;
}
.dashboard .add-round .fa {
    position: absolute;
    top: -8px;
    right: 0;
    background: linear-gradient(to bottom, #18538b, #0e7a75 );
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 9px 9px 8px 11px;
    font-size: 24px;
	display:none;
}
.dashboard .add-round[aria-expanded="false"] .fa-plus{
	display:block;
}
.dashboard .add-round[aria-expanded="true"] .fa-minus{
	display:block;
}
.dashboard .tab-content h5 {
    font-size: 20px;
    letter-spacing: 1px;
    color: #000;
}
.dashboard .entry-time {
    color: #393939;
    font-size: 14px;
}
.entry-time span {
    padding-left: 10px;
}
.dashboard p{
    color:#8b8b8b;
}
.dashboard a{
    color:#275aa0;
}
.dashboard .row {
    border-bottom:2px solid #d2d2d2;
    padding: 20px 0px;
    margin: 0;
}
.dashboard .third-column a{
    color:#0e7976;
    text-decoration:underline;
}
.dashboard .third-column li{
    padding: 10px;
}
.progress-strip {
    margin-top: 40px;
    margin: 35px;
}
.progress-strip p{
    color:#04773f;
    font-weight: 500;
}
.progress-strip .progress{
    height: 40px;
    background: linear-gradient(to bottom, #a8a8a8,#8b8b8b);
    border-radius: 6px;
}
.progress-strip .progress-amber{
    background:#ffbf00;
    position:relative;
}
.progress-strip .progress-red{
    background:red;
    position:relative;
}
.progress-strip .progress-green{
    background:green;
    position:relative;
}
.progress-strip .progress-amber::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -43px;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-left: 22px solid #ffc000;
}
.progress-strip .progress-red::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -43px;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-left: 22px solid red;
}
.progress-strip .progress-green::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -43px;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-left: 22px solid green;
}
.progress-strip .progress p{
    color:#fff;
    width: 100%;
    text-align: right;
    margin-bottom: 0px;
    padding-right: 30px;
}
.tooltip-inner{
    padding:6px 7px;
    color:#4a4949;
    text-align:center;
    font-weight:900;
    background:#f3f3f3;
    border: 1px solid #d6d5d5;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
    border-radius:4px; 
    position:relative;
    left:150px; 
}
.progress-strip .arrow::before,.bs-tooltip-top .arrow::before{
    top:0;
    left:150px;
    border-width:.4rem .4rem 0;
    border-top-color:#d6d5d5
}
.dashboard-footer {
    background: #275aa0;
    padding: 30px;
    color: #fff;
}
.dashboard-footer button{
    background: transparent;
    border: 2px solid #01a655;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    padding-bottom: 7px;
}
.dashboard-footer button:hover, .dashboard-footer button:focus, .dashboard-footer button:active{
    background:transparent !important;
    color:#fff !important;
    border: 2px solid #01a655 !important;
    outline:none;
    box-shadow:none;
}
.dashboard-footer button img{
    width: 30px;
    position: relative;
    left: -12px;
}/**end dasfboard**/
/**lead-form**/
.profile-details h5{
    float:left;
    color: #7e7e7e;
}
.profile-details .edit-link{
    float: right;
}
.profile-details .edit-link a{
    color: #7e7e7e;
    padding: 0px 10px;
    font-size: 18px;
}
.profile-photo{
    text-align:center;
    clear: both;
}
.profile-photo a {
    position: relative;
}
.profile-img {
    width: 140px;
}
.cam-img {
    width: 40px;
    position: absolute;
    top: -30px;
    left: 110px;
}
.detail-form {
    margin-top: 40px;
}
.detail-form .col-md-5{
    padding:0px 35px;
}
.detail-form .form-control {
    border: 2px solid #b1b1b1;
    border-radius: 20px;
    background: transparent;
    height: 40px;
}
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../assets/images/sel-arrow.png) 95% / 20px no-repeat !important;
    border-radius: 20px;
}
.cal-img input{
    background: url(../../assets/images/calendar.png) 95% / 25px no-repeat !important;
}
.detail-form .btn {
    background: #275aa0;
    color: #fff;
    padding: 10px 0px;
    border-radius: 30px;
    width: 120px;
    margin: 30px 7px;
    font-weight:500;
}/**end lead-form**/
/**quotation**/
.quotation .row{
    margin: 20px 10px;
}
.quotation a img {
    width: 100px;
}
.quotation a{
    color: #fff;
    font-weight:500;
}
.quotation p {
    color: #fff;
    font-size: 14px;
    padding: 5px;
}
.two-wheeler {
    background: #2f3d6f;
    text-align: center;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 20px auto;
}
.life {
    background: #e27555;
    text-align: center;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 20px auto;
}
.car {
    background: #9d3b53;
    text-align: center;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 20px auto;
}
.travel {
    background: #13b2ac;
    text-align: center;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 20px auto;
}/**end quotation**/
/** policy-details**/
.policy-image {
    text-align: center;
    margin-right: 30px;
}
.policy-details h5{
    color: #000;
    font-weight: 400;
    font-size: 18px;
}
.policy-details p{
    color: #6f6f6f;
}
.policy-details .row{
    margin: 5px 0px;
}

.policy-details img{
    width: 100px;
    margin-bottom: 25px;
}/**end policy-details**/
/**my-policy-details**/
.my-policy-details .row{
    margin: 5px 0px;
}
.my-policy-details .row1{
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;
    padding-top: 15px;
}
.my-policy-details h5{
    color: #000;
    font-weight: 400;
    font-size: 18px;
}
.my-policy-details p{
    color: #6f6f6f;
}/**end my-policy-details**/
/**lead-details**/
.lead-details{
    text-align:center;
    border-bottom: 1px solid #dedede;
    padding-bottom: 25px;
    margin: 0px 30px;
}
.lead-details .details-row {
    margin-bottom: 5px;
}
.lead-details .details-row p {
    text-align: left;
    color: #6f6f6f;
}
.lead-details .details-row h5{
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
}
.lead-details .first-half{
    border-right: 1px solid #dedede;
}
.lead-details img{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 80px;
}
.lead-details .first-half a{
    color:#275aa0;
    text-decoration: underline;
}
.lead-details li a img{
    width:22px;
    margin: 10px;
}
.lead-details .rec-history{
    color:#000;
    text-transform:uppercase;
    font-size: 12px;
    border: 2px solid #2a55a1;
    padding: 8px 15px;
    border-radius: 20px;
}
/**timeline**/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #d0d0d0;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container1 {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin: 40px 0px;
}

/* The circles on the timeline */
.container1::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: -18px;
    background-color: #01a655;
    border: 10px solid #f6f6f6;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0px 0px 0px 3px #275aa0;
    margin-top: 20px;

}

/* Place the container to the left */
.left {
  left: 0;
  text-align:right;
}

/* Place the container to the right */
.right {
  left: 50%;
}
/* Fix the circle for containers on the right side */
.right::after {
  left: -22px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
}
.content h5{
    font-weight: 400;
    font-size: 20px;
}
.content p{
    color:#6f6f6f;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container1 {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  .left {
    text-align: left;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container1::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 10px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}/**end timeline**/
.lead-history {
    margin-top: 40px;
}
.lead-history .form-control{
    width: 73% !important;
    border: 2px solid #c2c2c2;
    border-radius: 20px;
    height: 45px;
    margin-left: 20px;
    background-color:transparent;
}
.lead-history input.form-control{
    width: 100% !important;
    background:url(../../assets/images/datetime-img.png) 95% / 20px no-repeat !important;
    margin-left: 0px;
}
.lead-history label{
    color:#000;
}
.lead-history textarea{
    width:100%;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #cdcccc;
}
.lead-notes {
    margin: 40px -15px; 
}
.lead-notes .col-lg-10.mx-auto{
    border: 1px solid #cdcccc;
    padding: 20px;
    border-radius: 5px;
}
.lead-notes .upload-doc{
    color:#000;
    text-transform:uppercase;
    font-size: 12px;
    border: 2px solid #2a55a1;
    padding: 8px 15px;
    border-radius: 20px;
}
.lead-notes p{
    margin-bottom: 21px;
    font-size: 14px;
}
.lead-history-btn .btn {
    background: #275aa0;
    color: #fff;
    padding: 10px 0px;
    border-radius: 30px;
    width: 160px;
    margin: 30px 10px;
    font-weight: 400;
}
/**end lead-details**/
/**loyalty-program**/
.loyalty-program .tab-content .row {
    border-bottom: 0;
    padding: 0;
}
.loyalty-program .nav-item a {
    border: 1px solid #dfdfdf;
    border-radius: 0;
    padding: 12px 90px;
}
.loyalty-box{
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    padding: 25px;
    position:relative;
    margin: 15px 0px;
}
.loyalty-box img{
    width: 50px;
}
.like-heart img {
    position: absolute;
    top: 35px;
    right: 30px;
    width: 22px;
}
.loyalty-box h5{
    padding: 10px 0px;
    margin: 0px;
    font-weight: 700;
    letter-spacing: 0px !important;
}
.loyalty-box button{
    background: #275aa0;
    color: #fff;
    padding: 7px 25px;
    border-radius: 30px;
}
.loyalty-box input{
    border-radius:20px;
}
.loyalty-program .tab-content {
    padding: 25px 20px;
}
.status-btn {
    text-align: right;
}
.status-btn .btn{
    background: #275aa0;
    color: #fff;
    padding: 7px 15px;
    border-radius: 30px;
}
.loyalty-program #menu1 {
    padding: 40px 0px;
}
.loyalty-program #menu1 h5{
    font-size: 16px;
    letter-spacing: 0px !important;
    font-weight: 500;
}
.loyalty-program #myModal .modal-body{
    padding: 25px 20px;
    padding-top: 40px;
    font-weight: 500;
}
#myModal .modal-footer{
    padding: 10px;
    border-top: 1px solid #f1f1f1;
}
#myModal .modal-footer .btn{
    color:#275aa0;
    background:none;
    font-size:14px;
    border:none;
    font-weight: 500;
}
.total-earned {
    margin: 20px 0px;
    background: #f3f3f3;
    padding: 25px;
}
.loyalty-program #menu1 .row:nth-child(2){
    padding: 0px 58px;
    padding-right: 25px;
    margin: 0px 15px;
    background: #efefef;
}
.loyalty-program #menu2{
    padding:20px;
}
.loyalty-program #menu2 thead{
    background: #0f7777;
    color: #fff;
    text-align: center;
}
.loyalty-program #menu2 thead th{
    font-weight:normal;
}
.loyalty-program #menu2 table td{
    height:70px;
}/**end loyalty-program**/
/**customer-policy-details**/
.row-h5 h5{
    margin: 20px 0px;
}
.customer-policy h5 {
    float: none;
    text-align: center;
}
.cus-file{
    padding: 10px;
    background: none; 
    display: table;
    color: #18538b;
    border:2px solid #18538b;
    border-radius:25px;
    font-weight:bold;
    padding: 10px 25px;
    position:relative;
}
.cus-file input[type="file"] {
    display: none;
}
.file-attach{
    position: absolute;
    top: 55px;
    left: 165px;
}/**end customer-policy-details**/
/**my-profile**/
.profile-form h5 {
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px 0px;
}/**end my-profile**/
/**performance and contest**/
.performance-contest .tab-content .row{
    border:none;
    padding: 3px 0px;
}
.performance-contest .tab-content {
    padding: 0px 30px;
}
.ongoing-contest {
    background: #01a655;
    padding: 50px 20px;
    border-radius: 8px;
    box-shadow: 0px 14px 0px -4px #18538b;
    margin-top: 25px;
}
.ongoing-contest h3{
    color: #fff;
    font-weight: normal;
    text-shadow: 0px 2px 1px #333;
    font-size: 26px;
}
.contest h6{
    font-size: 18px;
    margin-top: 35px;
    margin-left: 5px;
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.calendar-records {
    background: #ecb30b;
    padding: 22px;
    border-radius: 8px;
    box-shadow: 0px 14px 0px -4px #18538b;
    margin-top: 25px;
}
.calendar-records li{
    font-size: 14px;
    text-transform: uppercase;
    color: #413f3f;
    font-weight: 500;
    display: inline-grid;
    padding: 8px;
}
.calendar-records li span{  
    color: #fff;
    font-size: 58px;
    font-weight: 500;
    line-height: 65px;
}
.calendar-records ul{
    margin-bottom: 0px;
}
.calendar-records li span:after {
    content: " ";
    height: 55px;
    width: 2px;
    background-color: #f5d883;
    display: inline-block;
    position: relative;
    top: 8px;
    left: 15px;
}
.calendar-records li:last-child span:after{
    display:none;
}
.about-contest {
    margin-top: 80px;
}
.about-contest p {
    color: #595959 !important;
    font-size: 15px;
    border: 1px solid #c7c7c7;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.contest .btn {
    background: none;
    border: 2px solid #2a55a1;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 0px;
    color: #000;
}
.contest-3 {
    margin-bottom: 40px;
}
.contest h5{
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 0px !important;
    font-size: 18px !important;
}
.contest-3 p{
    color: #282828 !important;
    text-transform: uppercase;
    font-size: 15px;
}
.contest-3 ol{
    padding-inline-start: 50px;
}
.contest-3 ol li{
    padding: 10px 0px;
    color:#5a5a5a;
}
.reward{
    margin-top: 40px;
    margin-bottom: 20px;
}
.contestant-details h5{
    color: #18538b !important;
    font-weight: 500;
}
.contestant-details p{
    color: #18538b !important;
}
.contestant-details span{
    color: #18538b !important;
}
.winner-screen img{
    border: 2px solid #8c8c8c;
    border-radius: 25px;
    padding: 16px;
    width: 90px;
    margin: 25px 0px;
}
.rewards-screen{
    display: block;
}
.rewards-screen .btn-primary{
    float: right;
    background-color: #e6ae03;
    border: none;
    padding: 10px 40px;
}
.rewards-screen h5 img{
    width:45px;
}
.chng-pwd {
    width: 200px !important;
    margin-left: 0px !important;
}
.profile-form p {
    color: #7e7e7e;
}
.inner-content .no-footer table tr th{
    font-size: 13px;
    background-color: #12627e;
    color: #fff;
    border: 1px solid #ffffff;
    font-weight: 600;
}
.inner-content .no-footer table tr td{
    font-size: 14px;
}
.filter-select select{
    font-size:13px;
    border: 2px solid #c2c2c2;
}
.inner-content .no-footer .dataTables_filter input{
    border: 2px solid #c2c2c2;
    height: 32px;
    margin-left: 10px;
}
.inner-content .no-footer .dataTables_length select{
    font-size: 14px;
    height: 32px;
    border: 2px solid #c2c2c2;
}
.detail-form .form-group span {
    margin-left: 10px;
}
/**assign-lead**/
.assign-lead h5, .assign-lead p{
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 500;
}
.assign-lead p{
    color: #333;
}
.assign-lead .col-lg-6 .row{
    margin-top:10px;
}
.lead-upload .btn {
    background: #275aa0;
    color: #fff;
    padding: 5px 0px;
    border-radius: 30px;
    width: 100px;
    font-weight: 500;
    border: none;
}
.fso-check {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.fso-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.fso-check .checkmark{
  position: absolute;
  top: 4px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border: 1.5px solid #787878;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.fso-check:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.fso-check input:checked ~ .checkmark {
  background-color: #fff;
  border: 1.5px solid #787878;
}

/* Create the checkmark/indicator (hidden when not checked) */
.fso-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.fso-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.fso-check .checkmark:after {
  left: 9px;
    top: -5px;
    width: 7px;
    height: 17px;
    border: solid #9c9c9c;
    border-width: 0px 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#submit_data .btn {
    background: #275aa0;
    color: #fff;
    padding: 5px 0px;
    border-radius: 30px;
    width: 100px;
    font-weight: 500;
    border: none;
}
/*reward-checkbox*/
.reward-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 25px 0px;
  }
  
  /* Hide the browser's default checkbox */
  .reward-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .reward-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 2px solid #d4d4d4;
    border-radius: 4px;
  }
  
  /* On mouse-over, add a grey background color */
  .reward-label:hover input ~ .checkmark {
    background-color: #ffffff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .reward-label input:checked ~ .checkmark {
      background-color: #ffffff;
      border: 2px solid #d4d4d4;
      border-radius: 4px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .reward-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .reward-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .reward-label .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #16538b;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }/*reward-checkbox*/
  .rewards-screen h4{
      margin:20px 0px;
      font-size: 20px;
      font-weight: 400;
  }
  .rewards-screen h4 span {
      margin-left: 42px;
  }
  .rewards-screen img{
      width: 27px;
      margin-right: 15px;
  }
  .rewards-screen input{
      margin: 15px 0px;
      border-radius: 20px;
      border-width: 2px;
      height: 42px;
  }
  .contact-us-form .btn{
      background: #275aa0;
      color: #fff;
      padding: 10px 0px;
      border-radius: 30px;
      width: 120px;
      margin: 30px 0px;
      font-weight: 500;
  }
  .contact-us-form .form-control{
      border: 2px solid #b1b1b1;
      border-radius: 20px;
      background: transparent;
      height: 40px;
  }
  .contact-us-form h5 {
      text-align:center;
      text-transform: uppercase;
      font-weight: 500;
      margin: 20px 0px;
  }
  /**Notification**/
  .log-time {
      float: right;
  }
  .notify-details {
      padding: 3px 0px;
  }
  .notify-details p{
      color: #8b8b8b;
  }
  /****lead-filter****/
  /* Customize the label (the container) */
  .filter-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .filter-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .filter-check .checkmark{
    position: absolute;
    top: 2px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 1.5px solid #787878;
    border-radius: 2px;
  }
  
  /* On mouse-over, add a grey background color */
  .filter-check:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .filter-check input:checked ~ .checkmark {
    background-color: #fff;
    border: 1.5px solid #787878;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .filter-check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .filter-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .filter-check .checkmark:after {
    left: 9px;
      top: -5px;
      width: 7px;
      height: 17px;
      border: solid #9c9c9c;
      border-width: 0px 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  /*lead-filter-radio*/
  .filter-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .filter-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .filter-radio .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 50%;
    border: 1.5px solid #828282;
  }
  
  /* On mouse-over, add a grey background color */
  .filter-radio:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the radio button is checked, add a blue background */
  .filter-radio input:checked ~ .checkmark {
    background-color: #fff;
    border:1.5px solid #828282;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .filter-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .filter-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .filter-radio .checkmark:after {
      top: 4px;
      left: 5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #828282;
  }
  #myModal1 h2 {
      font-size: 22px;
      color: #333;
  }
  #myModal1 h3{
      font-size:18px;
      color: #333;
      margin: 15px 0px;
  }
  #myModal1 .form-group input{
      border: 2px solid #999999;
      border-radius: 50px;
      margin-top: 15px;
      height: 40px;
      padding-left: 55px;
      margin-bottom: 25px;
  }
  #myModal1 .form-group{
      position:relative;
  }
  #myModal1 .form-group img {
      position: absolute;
      top: 10px;
      left: 17px;
      width: 20px;
  }
  #myModal1 .modal-footer .btn-link{
      color:#18538b;
      font-weight: 600;
  }
  #myModal1 .modal-footer .btn-link:hover{
      text-decoration:none;
  }
  /****end lead-filter****/
  /**my-policy-icon**/
  .mypolicy-add-icon .add-round {
      float: right;
      position: relative;
      top: -40px;
  }
  .mypolicy-add-icon .add-round img {
      width: 48px;
  }/**end my-policy-icon**/
  .add-media .btn-success {
      background: #275aa0;
      color: #fff;
      padding: 5px 30px;
      border-radius: 30px;
      margin: 20px 10px;
      font-weight: 400;
      border: none;
  }
  .add-media input[type="file"] {
      display: none;
  }
  .add-media .custom-file-upload1 {
      background: #275aa0;
      color: #fff;
      padding: 5px 30px;
      border-radius: 30px;
      margin: 20px 10px;
      font-weight: 400;
      border: none;
      cursor: pointer;
  }
  .video-files video, .audio-files audio{
      width:100%;
      margin: 10px 0px;
  }
  .my-policy-details #calender_view{
    float: right;
    position: relative;
    top: -40px;
  }
  .my-policy-details #calender_view img{
    width: 30px;
  }
  .error {
    color: #e41818;
  }
 