@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
html, body{
	height:100%;
}
body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
a, a:hover, a:focus{
	text-decoration:none;
	outline:none;
}
p{
	font-size:16px;
	margin-bottom: 6px;
}
h2{
	font-size:30px;
}
h3{
	font-size:22px;
}
h5{
	font-weight: 400;
}
label{
	color:#000;
	font-size:16px;
	font-weight: 500;
	margin-top: 5px;
}
.form-control:focus{
	outline:none !important;
	box-shadow:none !important;
}
.page-content .row {
    margin: 0px;
}
.page-head {
    padding: 5px 15px;
}
/**fso-lead**/
.fso-lead {
    border-bottom: 2px solid #f1f1f1;
	padding: 15px 0px;
}
.fso-details h3 {
    font-weight: 600;
    margin-left: 15px;
    margin-bottom: 20px;
    color: #1f897f;
}
.fso-details h5 {
    font-weight: 600;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.fso-details p {
	font-size: 15px;
    color: #8a8a8a;
    font-weight: 600;
}
.fso-add-btn {
    margin: 20px 15px;
}
.fso-modal .modal-body{
	text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}
.fso-modal .modal-dialog {
    width: 400px;
	margin-top:100px;
}
/**end fso-lead**/